<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css" type="text/css" media="all">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <title>Sparky's Dealership</title>
  </head>
  <body>
    <div class="container">
      <h1>Sparky's Cars</h1>
      <h2>Looking for your next automobile?</h2>
      <h3>You've come to the right place!</h3>
      <hr>

      <h4>Find Your Car</h4>
      <form action="car.php">
        <div class="form-group">
          <label for="price">Enter Maximum price</label>
          <input type="number" name="price" id="price" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Search</button>

      </form>
    </div>
  </body>
</html>
