<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" media="all">
    <title>Sparky's Dealership</title>
  </head>
  <body>
    <div class="container">
      <h1>Your search results!</h1>


      {% for car in cars %}

          {% if car.getPrice < max_price %}
              <p>Make and model: {{ car.getModel }}</p>
              <p>Price: ${{ car.getPrice }}</p>
              <p>Mileage: {{ car.getMileage }}</p>
          {% endif %}

      {% endfor %}



      <p><a href="/car_list">View your car listing.</a></p>
    </div>
  </body>
</html>
